https://yandex.ru/dev/direct/doc/dg/concepts/overview.html

In [1]:
import requests
import json
import pandas as pd

In [2]:
sandbox_url = 'https://api-sandbox.direct.yandex.com/json/v5/'
real_url = 'https://api.direct.yandex.com/json/v5/'

In [3]:
token = 'y0_AQAAAABihNGYAAhQ1wAAAADLKvrhX8L69sCOQii3e7pjpQ0tsAU4Ha4'
login = "sfedyusnin@yandex.ru"
# login = '1U2xnuajs1OT5pX7'

In [4]:
head = {"Authorization": 'Bearer'+' '+token,
#         "Accept-Language": "ru",
        "Client-Login": login,
        "Content-Type": "application/json; charset=utf-8"
       }

In [5]:
method = 'campaigns'
body = {"method": "get",
        "params": {"SelectionCriteria": {},
                   "FieldNames": ["Id", "Name"]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [6]:
response.json()

{'result': {'Campaigns': [{'Id': 440401,
    'Name': 'Test API Sandbox campaign 1'},
   {'Name': 'Test API Sandbox campaign 2', 'Id': 440402},
   {'Name': 'Test API Sandbox campaign 3', 'Id': 440403}]}}

In [7]:
pd.DataFrame(response.json()['result']['Campaigns'])

       Id                         Name
0  440401  Test API Sandbox campaign 1
1  440402  Test API Sandbox campaign 2
2  440403  Test API Sandbox campaign 3

In [8]:
campaigns = [aa['Id'] for aa in response.json()['result']['Campaigns']]
campaigns

[440401, 440402, 440403]

In [9]:
method = 'adgroups'
body = {"method": "get",
        "params": {"SelectionCriteria": {"CampaignIds": campaigns},
                   "FieldNames": ["Id", "Name", "Status", "Type"]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [10]:
response.json()

{'result': {'AdGroups': [{'Id': 4382416,
    'Name': 'Группа №4382416',
    'Status': 'ACCEPTED',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382417,
    'Name': 'Группа №4382417',
    'Status': 'ACCEPTED',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382418,
    'Name': 'Группа №4382418',
    'Status': 'ACCEPTED',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382419,
    'Name': 'Группа №4382419',
    'Status': 'ACCEPTED',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382420,
    'Name': 'Группа №4382420',
    'Status': 'ACCEPTED',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382421,
    'Name': 'Группа №4382421',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382422,
    'Name': 'Группа №4382422',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382423,
    'Name': 'Группа №4382423',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382424,
    'Name': 'Группа №4382424',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382425,
    'Name': 'Группа №4382425',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382426,
    'Name': 'Группа №4382426',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382427,
    'Name': 'Группа №4382427',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382428,
    'Name': 'Группа №4382428',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382429,
    'Name': 'Группа №4382429',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'},
   {'Id': 4382430,
    'Name': 'Группа №4382430',
    'Status': 'DRAFT',
    'Type': 'TEXT_AD_GROUP'}]}}

In [11]:
pd.DataFrame(response.json()['result']['AdGroups'])

         Id             Name    Status           Type
0   4382416  Группа №4382416  ACCEPTED  TEXT_AD_GROUP
1   4382417  Группа №4382417  ACCEPTED  TEXT_AD_GROUP
2   4382418  Группа №4382418  ACCEPTED  TEXT_AD_GROUP
3   4382419  Группа №4382419  ACCEPTED  TEXT_AD_GROUP
4   4382420  Группа №4382420  ACCEPTED  TEXT_AD_GROUP
5   4382421  Группа №4382421     DRAFT  TEXT_AD_GROUP
6   4382422  Группа №4382422     DRAFT  TEXT_AD_GROUP
7   4382423  Группа №4382423     DRAFT  TEXT_AD_GROUP
8   4382424  Группа №4382424     DRAFT  TEXT_AD_GROUP
9   4382425  Группа №4382425     DRAFT  TEXT_AD_GROUP
10  4382426  Группа №4382426     DRAFT  TEXT_AD_GROUP
11  4382427  Группа №4382427     DRAFT  TEXT_AD_GROUP
12  4382428  Группа №4382428     DRAFT  TEXT_AD_GROUP
13  4382429  Группа №4382429     DRAFT  TEXT_AD_GROUP
14  4382430  Группа №4382430     DRAFT  TEXT_AD_GROUP

In [12]:
groups = [aa['Id'] for aa in response.json()['result']['AdGroups']]
groups

[4382416,
 4382417,
 4382418,
 4382419,
 4382420,
 4382421,
 4382422,
 4382423,
 4382424,
 4382425,
 4382426,
 4382427,
 4382428,
 4382429,
 4382430]

In [13]:
method = 'ads'
body = {"method": "get",
        "params": {"SelectionCriteria": {"AdGroupIds": groups},
                   "FieldNames": ["Id", "State", "Status", "Type"]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [14]:
response.json()

{'result': {'Ads': [{'Id': 3760395,
    'Status': 'ACCEPTED',
    'State': 'ON',
    'Type': 'TEXT_AD'},
   {'Id': 3760396, 'Status': 'ACCEPTED', 'State': 'ON', 'Type': 'TEXT_AD'},
   {'Id': 3760397, 'Status': 'ACCEPTED', 'State': 'ON', 'Type': 'TEXT_AD'},
   {'Id': 3760398, 'Status': 'ACCEPTED', 'State': 'ON', 'Type': 'TEXT_AD'},
   {'Id': 3760399, 'Status': 'ACCEPTED', 'State': 'ON', 'Type': 'TEXT_AD'},
   {'Id': 3760400, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760401, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760402, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760403, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760404, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760405, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760406, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760407, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760408, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'},
   {'Id': 3760409, 'Status': 'DRAFT', 'State': 'OFF', 'Type': 'TEXT_AD'}]}}

In [15]:
pd.DataFrame(response.json()['result']['Ads'])

         Id    Status State     Type
0   3760395  ACCEPTED    ON  TEXT_AD
1   3760396  ACCEPTED    ON  TEXT_AD
2   3760397  ACCEPTED    ON  TEXT_AD
3   3760398  ACCEPTED    ON  TEXT_AD
4   3760399  ACCEPTED    ON  TEXT_AD
5   3760400     DRAFT   OFF  TEXT_AD
6   3760401     DRAFT   OFF  TEXT_AD
7   3760402     DRAFT   OFF  TEXT_AD
8   3760403     DRAFT   OFF  TEXT_AD
9   3760404     DRAFT   OFF  TEXT_AD
10  3760405     DRAFT   OFF  TEXT_AD
11  3760406     DRAFT   OFF  TEXT_AD
12  3760407     DRAFT   OFF  TEXT_AD
13  3760408     DRAFT   OFF  TEXT_AD
14  3760409     DRAFT   OFF  TEXT_AD

In [16]:
ads = [aa['Id'] for aa in response.json()['result']['Ads']]
ads

[3760395,
 3760396,
 3760397,
 3760398,
 3760399,
 3760400,
 3760401,
 3760402,
 3760403,
 3760404,
 3760405,
 3760406,
 3760407,
 3760408,
 3760409]

In [17]:
method = 'keywords'
body = {"method": "get",
        "params": {"SelectionCriteria": {"AdGroupIds": ads},
                   "FieldNames": ["Id", "Keyword", "Bid", "State", "Status"]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [18]:
response.json()

{'result': {}}

In [19]:
camp = campaigns[0]
method = 'campaigns'
body = {"method": "update",
        "params": {"Campaigns": [{"Id": camp, 
                                  "TextCampaign": {"BiddingStrategy": 
                                                   {"Network": {"BiddingStrategyType": "MAXIMUM_COVERAGE"}}}
                                 }]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [20]:
response.json()

{'result': {'UpdateResults': [{'Id': 440401}]}}

In [21]:
camp = campaigns[0]
method = 'adgroups'
body = {"method": "add", 
        "params": {"AdGroups": [{"Name": "Новая группа",
                                 "CampaignId": camp,
                                 "RegionIds": [213]}]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [22]:
response.json()

{'result': {'AddResults': [{'Id': 4382467}]}}

In [23]:
group = groups[0]
method = 'ads'
body = {"method": "add",
        "params": {"Ads": [{"AdGroupId": group,
                            "TextAd": {"Title": "Заголовок объявления",
                                       "Text": "Текст объявления",
                                       "Mobile": "NO",
                                       "Href": "http://example.com"}}]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [24]:
response.json()

{'result': {'AddResults': [{'Id': 3760424}]}}

In [25]:
group = groups[0]
method = 'keywords'
body = {"method": "add",
        "params": {"Keywords": [{"Keyword": "Новая фраза",
                                 "AdGroupId": group,
                                 "Bid": 300000}]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [26]:
response.json()

{'result': {'AddResults': [{'Id': 11612273}]}}

In [32]:
phrase = response.json()['result']['AddResults'][0]['Id']
phrase

11612273

In [33]:
method = 'keywordbids'
body = {"method": "set",
        "params": {"KeywordBids": [{"KeywordId": phrase,
                                    "SearchBid": 400000}]
                  }
       }
response = requests.post(sandbox_url+method, headers=head, data=json.dumps(body))
response.status_code

200

In [34]:
response.json()

{'result': {'SetResults': [{'KeywordId': 11612273}]}}